<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Page:</strong>
    <%= book.page %>
  </p>

  <p>
    <strong>Pdf:</strong>
    <%= book.pdf %>
  </p>

  <p>
    <strong>Cover:</strong>
    <%= book.cover %>
  </p>

  <p>
    <strong>Translator:</strong>
    <%= book.translator %>
  </p>

  <p>
    <strong>Synopsis:</strong>
    <%= book.synopsis %>
  </p>

  <p>
    <strong>Publish at:</strong>
    <%= book.publish_at %>
  </p>

  <p>
    <strong>View count:</strong>
    <%= book.view_count %>
  </p>

</div>
